
<div class="center-align white-text" style="font-family: 'Julius Sans One', sans-serif;">
  <h1>Welcome to P-Dex</h1>
  <h4>Enter to help add Pokémon to the Dex!</h4>
  <a href="/pokies"><img style="height: 140px; width: 140px;" src="http://www.halcyonba.com/wp-content/uploads/2017/11/cute-pokemon-ball-picture-pokeball-png8-coloring-pages-301x300.png"></a>
</div>
