<!DOCTYPE html>
<html>
  <head>
    <title>P-Dex</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAC4uLgAz8/PAAAAAAD///8A29vbAAAA/wCmpqYA6+vrAAAAhwAAAOMAkZGRAAAA1AAAAL0AAACmAAAAAAAAAAAAIiIiIiIiIiIiIiN0EGIiIiIjMzdBBqIiIjMzM3QQaiIiMzMzN0EGIiMzMyIidBBiIzMyIiInQQIiIiIiIiIiIiIiIiIiIiIiJVVSIiIlm9IlVVUiIlm8giJVVVVVm80iIlVVVVm82CIiJVVVm82CIiIiJVm80iIiIiIiIiIiIiL4HwAA4AcAAMADAACAAQAAgAEAAAAAAAADwAAAAkAAAAJAAAADwAAAAAAAAIABAACAAQAAwAMAAOAHAAD4HwAA" rel="icon" type="image/x-icon" />
    <script src="/assets/js/app.js"></script>
    
  </head>
  <body>
    <nav class="topnav">
      <h1><a href="/">P-Dex</a></h1>
    </nav>
    <main class="container">
      {{{body}}}
    </main>
  </body>

</html>
