<form class="add" action="/pokies/add">
  <input type="submit" value="Add A Pokemon">
</form>
<div id="pokeContainer">
{{#each pokies as |pokie index|}}
<div>
  <a href="/pokies/{{pokie.name}}"><img src="{{pokie.url}}"></a>
</div>
{{/each}}
</div>
