<form class="center" action="/pokies/add">
  <input class="#f5f5f5 grey lighten-4 waves-effect waves-light btn white-text" type="submit" value="Add A Pokemon">
</form>
<div class="row">
{{#each pokies as |pokie index|}}
<div class="card-panel hoverable center col s1">
  <a href="/pokies/{{pokie.name}}"><img class="responsive-img" src="{{pokie.url}}">{{pokie.name}}</a>
</div>
{{/each}}
</div>
