body {
  /* margin: 0; */
  /* background-image: url('https://www.imgbase.info/images/safe-wallpapers/anime/pokemon/17156_pokemon.jpg') */
}

nav {
  background-color: black !important;
}

.topnav {
  overflow: hidden;
  background-color: white !important;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

#flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20pt;
  color: antiquewhite;
}

#pokeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pokeContainer div {
  background-color: gray;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  margin: 5px;
}

#pokemonContainer {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20pt;
}

.large {
  height: 200px;
  width: 200px;
  top: 20%;
  left: 50%;
  transform: translate(300%, 10%);
}

img {
  height: 90px;
  width: 90px;
  padding: 5px;
}

h1 {
  -webkit-text-stroke: 1.5px black;
}

h1 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 40px;
}

form {

  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.left {
  position: absolute;
  top: 70%;
  left: 34.5%;
  transform: translate(-50%, -50%);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20pt;
}

.right {
  position: absolute;
  top: 70%;
  left: 66%;
  transform: translate(-50%, -50%);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20pt;
}

.inputName {

  width: 300px;
  border: 3 solid #000000;
  margin: 10px 0 0 0;
}

.inputField {
  margin: 10px;
  width: 300px;
  height: 100px;
  border: 3 solid #000000;
}

